{% extends "_base.html" %}

{% block content %}
<div class="container">
  <h3>{{ title }}</h3>
  <form action="search.php" method="get">
    <label for="select1">Select Field</label>
    <select id="select1" name="type">
      <option value="macaddr">MAC Address</option>
      <option value="ipaddr">IP Address</option>
      <option value="fqdnrev">FQDN Reverse</option>
      <option value="subnet">Subnet ID</option>
      <option value="fqdnfwd">FQDN Forward</option>
      <option value="lifetime">Valid Lifetime</option>
      <option value="hostname">Hostname</option>
      <option value="state">State</option>
      <option value="clientid">Client ID</option>
      <option value="leaselimit">Lease Limit</option>
    </select>
    <input type="text" id="text2" name="text" placeholder="sss Text" />
    <button class="blue">Search</button>
  </form>
  <br>
  <table id="release" class="sortable">
    <thead>
      <tr>
      {% for label in ['IPAddress', 'MACAddress', 'ClientID', 'ValidLifetime', 'LeaseLimit', 'SubnetID', 'FQDNForward', 'FQDNReverse', 'Hostname', 'State'] %}
        <th>{{ label }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for i in range(0, 30) %}
      <tr>
      {% for j in range(0, 9) %}
        <td>...</td>
      {% endfor %}
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div><!-- .container -->
{% endblock %}
