{% extends "_base.html" %}
{% block content %}
<div class="container">
  <h3>{{ title }}</h3>
  <h4>Author</h4>
  <p>This app was developed by Tomoyuki KOYAMA(a.k.a tomoyk).</p>
  <ul>
    <li>Twitter: <a href="http://twitter.com/tmyk_kym">@tmyk_kym</a></li>
    <li>Blog: <a href="http://blog.koyama.me/">blog.koyama.me</a></li>
  </ul>
  <h4>License</h4>
  <p>You are free to use this app under MIT License without contact to me.<br>
  Please give me a one-star on GitHub if you like this :)<br>
  <a href="https://github.com/tomoyk/kea-lease-viewer">[GitHub] kea-lease-viewer</a></p>
</div>
{% endblock %}
